:root{
    --white: aliceblue;
    --black: #151515;
    --body: aliceblue;
    --recipes: lightgreen;
    --paragraph: #404040;
    --paragraph2: azure;
    --green: limegreen;
    --shadow: rgba(0,0,0, 50%);
    --blue: lightblue;
    --purple: darkorchid;
    
    --link: darkslateblue;
    --recipeName: rgba(0,0,0, 75%);
}

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header{
    margin-bottom: 30px;
}

h2{
    color: var(--green);
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
    line-height: 2em;
    text-shadow: 1px 1px 2px var(--black);
    
    animation-name: colorChange;
    animation-duration: 3000ms;
    animation-play-state: paused;
}

h3{
    color: var(--paragraph);
    text-align: left;
    text-shadow: 0px 0px 0px var(--paragraph);
    font-family: Georgia, "Times New Roman", serif;
    line-height: 2em;
}

p{
    font-family: Georgia, "Times New Roman", serif;
    color: var(--paragraph);
    line-height: 1.5em;
    text-align: justify;
    /*text-shadow: 1px 1px 1px var(--paragraph);*/
}

span{
    color: var(--green);
    animation-name: span-colorChange;
    animation-duration: 3000ms;
    animation-play-state: paused;
}

@keyframes colorChange{
    0%{
        color: var(--paragraph);
    }
    100%{

    }
}

label{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*-----BODY-----*/
body{
    background-color: var(--body);

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-----HEADER & NAVBAR-----*/
#top-header{
    width: 100%;
    height: 45px;
    position: fixed;
    z-index: 10;

    margin-bottom: 0px;
}

#top-header nav{
    width: 100%;
    height: 100%;
    background-color: var(--black);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-header nav a{
    height: 100%;
    color: var(--paragraph2);
    font-family: Georgia, "Times New Roman", serif;
    vertical-align: middle;
    text-decoration: none;
    transition: 500ms;

    display: flex;
    align-items: center;

    padding: 0px 15px;
}

#top-header nav a:hover{
    background-color: var(--green);
}

#top-header nav div{
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

/*-----MAIN-----*/
main{
    
    width: 100%;
    margin: 0px auto;
}

/*-----MAIN-IMAGE-----*/
main #Main-Image{
    width: 100%;
    background-image: linear-gradient(180deg, var(--blue), transparent);

    display: flex;
    justify-content: center;

    margin: 0px auto;
    margin-top: 45px;
}

main #Main-Image div{
    max-width: 800px;

    position: relative;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

main #Main-Image div h1{
    width: 15ch;
    font-family: Brush Script MT, cursive;
    font-size: 1.5em;
    color: var(--paragraph2);
    line-height: 1.25em;
    letter-spacing: 3px;
    text-align: right;
    background-color: var(--paragraph);
    border: 5px solid var(--black);
    box-shadow: 8px 8px 5px var(--shadow);
    text-shadow: 5px 5px var(--shadow);
    animation-name: header-h1-shadow;
    animation-duration: 3000ms;

    display: block;
    position: absolute;
    left: 5%;

    padding: 15px;
}

@keyframes header-h1-shadow{
    0%{
        text-shadow: 0px 0px transparent;
    }
    100%{

    }
}

main #Main-Image div h1 span{
    color: var(--green);
    animation-name: header-h1-span-colorChange;
    animation-duration: 3000ms;
}

@keyframes header-h1-span-colorChange{
    0%{
        color: var(--paragraph2);
    }
    100%{
        
    }
}

main #Main-Image div img{
    width: 100%;
    display: block;
    transform: scaleX(-1);
    border-radius: 0px 0px 50px 50px;
    box-shadow: 0px 10px 15px var(--shadow);
    filter: saturate(120%);
}

/*-----INTRODUCTION-----*/
main #Introduction{
    padding: 25px 10px;
}

main #Introduction article{

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
}

main #Introduction article div{
    max-width: 65ch;
}

/*-----RECIPES-----*/
main #Recipes{
    padding: 25px 0px;
}

main #Recipes article header{
    max-width: 800px;
    box-shadow: 8px 8px 5px var(--shadow);
    border-radius: 25px;
    overflow: hidden;

    position: relative;
}

main #Recipes article header h3{
    color: var(--paragraph2);
    
    background-image: linear-gradient(90deg, var(--recipeName), transparent);

    position: absolute;
    bottom: 0px;
    
    padding-left: 10px
}

main #Recipes article header img{
    width: 100%;
    display: block;
}

main #Recipes article{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px 25px;
}

main #Recipes article p{
    margin-bottom: 20px;
}

main #Recipes #Preparo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

main #Recipes article ul{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 32px;
    color: var(--paragraph);
    list-style-position: inside;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;

    margin-bottom: 30px;
}

main #Recipes article ul div li{
    list-style-type: none;
}

main #Recipes article h3{
    width: 100%;
    text-align: left;
}

main #Recipes article ul div li input:checked + label{
    color: var(--shadow);
    text-decoration: line-through;
    transition: 500ms;
}

main #Recipes article ol{
    max-width: 40ch;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--paragraph);
    line-height: 24px;

    padding-left: 15px;
}

main #Recipes article ol li::marker{
    font-weight: bold;
    color: var(--purple);
}

/*-----GALLERY-----*/
main #Gallery{
    padding: 45px 0px;
    padding-bottom: 60px;
    background-color: var(--paragraph);
    background-image: url("images/retina_wood.png");
    /*background-size: 128px;*/
}

main #Gallery article{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}

main #Gallery article div{
    width: 300px;
    height: 350px;
    background-color: var(--white);
    transition: 500ms;
    box-shadow: 8px 8px 3px var(--shadow);

    position: relative;

    padding: 10px;
}

main #Gallery article div:hover{
    transform: scale(120%);
    box-shadow: 10px 10px 4px var(--shadow);
}

main #Gallery article div img{
    width: 100%;
    max-height: 200px;
}

main #Gallery article div p{
    font-family: Brush Script MT, cursive;
    font-size: 1.5em;
    text-align: right;
}

/*-----FOOTER-----*/
footer{
    width: 100%;
    height: 100px;
    /*background-image: linear-gradient(90deg, var(--black) 95%, var(--link) 5%);*/
    background-color: var(--black);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 0px;
    position: relative;
    align-items: flex-start;

    padding: 5px 15px;
}

footer #left-point{
    display: block;
    width: 80px;
    height: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background-color: var(--purple);
    
    position: absolute;
    right: 0px;
    bottom: 0px;

    animation-name: translate-left;
    animation-duration: 1000ms;
    animation-play-state: paused;
}

@keyframes translate-left{
    0%{
        transform: translatex(30px);
    }
    100%{

    }
}

footer p{
    color: var(--paragraph2);
}

footer a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--link);
    transition: 200ms;

    text-decoration: none;
}

footer a:hover{
    color: var(--paragraph2)
}